@import 'components/behavior/cluster';
@import 'components/behavior/story';
@import 'components/behavior/information';

.behavior-timeseries {
  // padding: 0 10px;
  //
  &.all {
    margin-bottom: 20px;
  }
}

.selector-cont {
  background: none !important;
  border: none !important;
}

.selector-summary {
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
  // list-style: none;
  overflow: hidden;

  li {
    text-decoration: none;
    padding: 10px 0px 10px 50px;
    background: white;                   /* fallback color */
    position: relative;
    display: block;
    float: left;

    &:first-child {
      padding-left: 20px;
    }

    &:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
      border-bottom: 50px solid transparent;
      border-left: 30px solid white;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 100%;
      z-index: 2;
    }

    &:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 30px solid $brand-white;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      margin-left: 8px;
      left: 100%;
      z-index: 1;
    }
  }
}

.stat-big {
  border-bottom: 1px solid $brand-lighter;
  margin-bottom: 10px;
  padding: 0 20px;
  float: left;
  width: 100%;
  height: 60px;

  .stat-button {
    float: right;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid $brand-black;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
    margin: 14px 0;
    width: 56px;
    text-align: center;
  }

  div {
    display: inline-block;
    margin-left: 10px;
  }

  h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    color: #7f8c8d;
  }

  p {
    font-size: 12px;
    margin: 0;
    color: #7f8c8d;

    .icon-arrow_upward {
      color: $brand-success;
    }

    .icon-arrow_downward {
      color: $brand-danger;
    }

    span {
      font-size: 16px;
    }
  }

  h2 {
    font-size: 42px;
    font-weight: 300;
    margin: 0 0 10px 0;
    display: inline-block;
  }
}

.stat-bar {
  border-top: 1px solid $brand-gray;
  float: left;
  width: 100%;
}

.stat-box {
  text-align: center;
  padding: 10px;

  h2 {
    font-size: 22px;
    margin: 0 0 10px 0;
  }

  h3 {
    color: #7f8c8d;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
  }
}

.page-stat {
  &.row {
    display: flex;
    flex-wrap: wrap;
  }
  .widget {
    // height: 118px;
  }

  .col-md-3 {
    min-width: 198px
  }

  td {
    font-size: 16px;
  }
  td:last-child {
    font-size: 16px;
    font-weight: 300;
  }
}