@import 'components/behavior/cluster';
@import 'components/behavior/story';
@import 'components/behavior/information';

.stat-big {
  border-bottom: 1px solid $brand-lighter;
  margin-bottom: 10px;
  padding: 0 20px;

  div {
    display: inline-block;
    margin-left: 10px;
  }

  h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    color: #7f8c8d;
  }

  p {
    font-size: 12px;
    margin: 0;
    color: #7f8c8d;

    .icon-arrow-up {
      color: $brand-success;
    }

    .icon-arrow-down {
      color: $brand-danger;
    }

    span {
      font-size: 16px;
    }
  }

  h2 {
    font-size: 42px;
    font-weight: 300;
    margin: 0 0 10px 0;
    display: inline-block;
  }
}

.stat-bar {
  border-top: 1px solid $brand-gray;
  float: left;
  width: 100%;
}

.stat-box {
  text-align: center;
  padding: 10px;

  h2 {
    font-size: 22px;
    margin: 0 0 10px 0;
  }

  h3 {
    color: #7f8c8d;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
  }
}

.page-stat {
  .widget {
    height: 118px;
  }

  td {
    font-size: 16px;
  }
  td:last-child {
    font-size: 18px;
    font-weight: 300;
  }
}