.information-cont {
  & > .row {
    margin-bottom: 5px;
  }
}

.information {
  // cursor: pointer;
  // height: 655px !important;

  .widget-heading {
    margin-bottom: 10px !important;
  }
}

.info-timeseries {
    height: 50%;
    margin-bottom: 15px;
    // padding-bottom: 15px;
  .behavior-timeseries {
    // height: 313px;
    margin: 0;
    padding: 20px 20px;
  }
}

.information-eff {
  float: left;
  width: 100%;
}

.information-explanation {
  height: 50%;
  .widget {
    float: left;
    width: 100%;
    margin: 0;
    // padding: 0 20px;
    // height: 328px;

    .row {
      // height: 100px;
      // margin-bottom: 25px;
      flex-wrap: wrap;
      float: left;
      width: 100%;
      display: flex;
      // &:last-child {
      //   margin-bottom: 0;
      // }
    }

    .score {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3rem;
      padding-right: 10px;
      float: left;
      max-width: 22%;
    }

    ul {
      margin-top: 15px;
    }

    li {
      margin-bottom: 15px;
    }

    .col-md-4 {
      min-width: 290px;
      margin-bottom: 15px;
      // @media only screen and (min-width: 992px) {
      //   width: 33.33%;
      // }
      // @media only screen and (min-width: 767px) {
      //   width: 50%;
      // }
    }
  }
}

.expln-stat {
  float: left;
  max-width: 78%;
  word-wrap: break-word;

  h3 {
    margin: 0;
    font-size: 14px;
    color: $brand-black;
  }

  p {
    margin: 0;
    font-size: 12px;
    color: #7f8c8d;
    .v {
      color: rgba($brand-black, .9);
    }
  }
}